<app-hero-section>
    <div class="register">
        <div class="register__container">
            <h1 class="register__title">Registro</h1>
            <form>
                <div class="register__inputWrapper input-group-lg">
                    <label for="name">Nombre</label>
                    <input type="name" class="form-control" id="name" name="name" placeholder="Nombre" />
                </div>
                <div class="register__inputWrapper input-group-lg">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" />
                </div>
                <div class="register__inputWrapper input-group-lg">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" />
                </div>
                <div class="register__inputWrapper input-group-lg">
                    <p>Ya tienes cuenta ? <a [routerLink]="['/auth', 'login']">Inicia sesión</a></p>
                </div>
                <div class="register__inputWrapper d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</app-hero-section>