<app-hero-section>
  <div class="register">
    <div class="register__container">
      <h1 class="register__title">Registro</h1>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" >
        <div class="register__inputWrapper input-group-lg">
          <label for="name">Nombre</label>
          <input
            type="name"
            formControlName="name"
            class="form-control"
            id="name"
            name="name"
            placeholder="Nombre"
            [ngClass]="{ 'is-invalid': getValidation('name') }"
          />
          
          <div *ngIf="getValidation('name') "class="mt-2">
            <p class="mb-0 text-danger"*ngIf="form.controls['name'].errors?.['required']">
                El nombre es requerido
            </p>
            <p class="mb-0 text-danger"*ngIf="form.controls['name'].errors?.['minlength']">
                Minimo 3 caracteres
            </p>
            <p class="mb-0 text-danger"*ngIf="form.controls['name'].errors?.['onlyChar']">
                Solo se permiten letras
            </p>
          </div>
        </div>
        <div class="register__inputWrapper input-group-lg">
          <label for="email">Email</label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
            [ngClass]="{ 'is-invalid': getValidation('email') }"
          />
          <div *ngIf="getValidation('email') "class="mt-2">
            <p class="mb-0 text-danger"*ngIf="form.controls['email'].errors?.['required']">
                El email es requerido
            </p>
          </div>
        </div>
        <div class="register__inputWrapper input-group-lg">
          <label for="password">Contraseña</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Contraseña"
            [ngClass]="{ 'is-invalid': getValidation('password') }"
          />
          <div *ngIf="getValidation('password') "class="mt-2">
            <p class="mb-0 text-danger" *ngIf="form.controls['password'].errors?.['required']">
                La contraseña es requerida
            </p>
            <p class="mb-0 text-danger" *ngIf="form.controls['password'].errors?.['minlength']">
                Minimo 6 caracteres
            </p>

          </div>
        </div>
        <div class="register__inputWrapper input-group-lg">
          <label for="confirm-password">Confirme su contraseña</label>
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirme su contraseña"
            [ngClass]="{ 'is-invalid': getValidation('confirmPassword') }"
          />
          <div *ngIf="getValidation('confirmPassword') "class="mt-2">
            <p class="mb-0 text-danger" *ngIf="form.controls['confirmPassword'].errors?.['mismatch']">
                Las contraseñas no coinciden
            </p>
            <p class="mb-0 text-danger" *ngIf="form.controls['confirmPassword'].errors?.['minlength']">
                Minimo 6 caracteres
            </p>
        </div>
        </div>
        <div class="register__inputWrapper input-group-lg">
          <p>
            Ya tienes cuenta ?
            <a [routerLink]="['/auth', 'login']">Inicia sesión</a>
          </p>
        </div>
      
        <div class="register__inputWrapper d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-primary btn-lg">
            Registrarse
          </button>
        </div>
      </form>
    </div>
  </div>
</app-hero-section>
