@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.card {
  max-width: 400px;
  margin: auto;
  .card-img-top {
    height: 300px;
    object-fit: cover;
  }
}
