@import "~bootstrap/scss/functions";

.card {
  max-width: 700px;
  margin: auto;
  .card-img-top {
    height: 300px;
    object-fit: cover;
  }

 i{
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3;
    &:hover{
      color:rgb(0, 81, 255)
    }
  }
  .reaction-menu-wrapper{
    position: relative;
  }
  .reaction-menu{
    & > div{

      display: flex;
      gap: 1rem;
    }
    position: absolute;
    top: 0;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    padding: 1rem;
    transform: translateY(-100%) ;
    & > div > i {
      font-size: 2rem;
      cursor: pointer;
      transition: all .3;
      &:hover{color:rgb(0, 81, 255)}
    }
  }
  .loader{
    width: 20px;
    height: 20px;
    display: block;
  }
}
