<div class="card bg-custom-color w-full">
  <img [src]="data.image" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ data.title }}</h5>
    <p class="card-text">
      {{ data.text }}
    </p>
    <div class="reaction-menu-wrapper">
      <div class="reaction-menu">
        <i class="bi bi-emoji-laughing"></i>
        <i class="bi bi-emoji-frown"></i>
        <i class="bi bi-emoji-heart-eyes"></i>
        <i class="bi bi-emoji-dizzy"></i>

      </div>
      <i class="bi bi-hand-thumbs-up "></i>
    </div>

  </div>
</div>
