// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap-icons/font/bootstrap-icons.css";


// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Create your own map
$custom-colors: (
  "brand-color-blue": rgb(0, 92, 153),
  "brand-color-light-gray": #A1ACBD,
  "brand-color-gray": #6E7888,
  "brand-color-pink": #CA718E

  );
  
//   $theme-colors: (
//     "primary": rgb(103, 116, 161),
//     "secondary": rgb(190, 32, 177)

// );

*{
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}
.font-roboto {
  font-family: 'Roboto', sans-serif;
}


// Merge the maps
// $theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors: $custom-colors;
@import "../node_modules/bootstrap/scss/bootstrap";



